body {
	padding: 5%;
}

div.veloz {
	font-family: 'Arial';
	background-color: #a8cf45;
	text-align: center;
	font-weight: bolder;
	position: relative;
	width: 120px;
	height: 60px;
	margin: 50px 0 0 20px;
	overflow: hidden;	
}

.veloz {
	-webkit-animation: 1s veloz 1;
}

@-webkit-keyframes veloz {
	0%{
		opacity: 0;
		-webkit-transform: translateX(-200%)
							skewX(30deg);
	}
	60%{
		opacity: 1;
		-webkit-transform: translateX(-20%)
							skewX(-30deg);
	}
	80%{
		-webkit-transform: translateX(0%)
							skewX(15deg);
	}

}